<a href="https://colab.research.google.com/github/greeshmaanand1104/Python-MIT-Assignment/blob/master/assingnment_3_211057028.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Lab Work:explore various type conversion loke string --> numbers, touples--> list, any other conversions 
print("string")
a= "manipal institute of technology"
b= "location manipal"
c= "Manipal"
print(a.__add__(b))
print(a.__contains__(b))
print(b.__eq__(a))
print(c.__hash__())
print(c.capitalize())
print(c.isalpha())
print(a.islower())
print(a.title())
print(a.swapcase())
print(a.split())

string
manipal institute of technologylocation manipal
False
False
8252716581421321491
Manipal
True
True
Manipal Institute Of Technology
MANIPAL INSTITUTE OF TECHNOLOGY
['manipal', 'institute', 'of', 'technology']
integer
6
True
False
2.0
6
4
4.4
8
1
NotImplemented
float
90.5
True
False
11.6
29
6225.210000000001
-67.30000000000001
78.9
False
24
tuples
(11, 89.78, 'Good', 'morning', 5, 23.56, 'hello', 'world')
NotImplemented
4
False
56
0
0
0
NotImplemented
(11, 89.78, 'Good', 'morning')
dictionary
['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']
{}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'key1': 0, 'key2': 0, 'key3': 0}
Mustang
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford'}
{'brand': 'Ford', 'color': 'White', 'year': '1997'}
1997
{'brand': 'Ford', 'color': 'White', 'year': '1997'}
dict_values(['Ford', 'White', '1997'])

In [ ]:
print("integer")
e = 2
f = 6.4
g = 4
print (e.__add__(g))
print(e.__bool__())
print(e.__eq__(g))
print(e.__float__())
print(f.__round__())
print(e.__pow__(2))
print(f.__sub__(e))
print(e.__lshift__(2))
print(g.__rshift__(2))
print(e.__and__(c))

integer
6
True
False
2.0
6
4
4.4
8
1
NotImplemented

In [ ]:
print("float")
h = 28.9
i = 78.9
j = 11.6

print (i.__add__(j))
print(i.__bool__())
print(i.__eq__(j))
print(j.__float__())
print(h.__round__())
print(i.__pow__(2))
print(j.__sub__(i))
print(i.conjugate())
print(h.is_integer())
print(i.__sizeof__())

float
90.5
True
False
11.6
29
6225.210000000001
-67.30000000000001
78.9
False
24

In [ ]:
print("tuples")
k = (11,89.78,"Good","morning")
l = (5,23.56,"hello","world")
print(k.__add__(l))
print(k.__eq__(b))
print(k.__len__())
print(k.__contains__(b))
print(k.__sizeof__())
print(k.count(2))
print(k.index(11))
print(k.count('o'))
print(k.__subclasshook__("h"))
print(k.__str__())

tuples
(11, 89.78, 'Good', 'morning', 5, 23.56, 'hello', 'world')
NotImplemented
4
False
56
0
0
0
NotImplemented
(11, 89.78, 'Good', 'morning')

In [ ]:
print("dictionary")
car = {
  "brand": "honda",
  "model": "city_honda",
  "year": 1989}

car.clear()
print(car)

car1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car1.copy()
print(x)
x = ('key1', 'key2', 'key3')
y = 0
thisdict = dict.fromkeys(x, y)
print(thisdict)
x = car1.get("model")
print(x)
x = car1.items()
print(x)
car1.pop("model")
print(car1)
car1.popitem()
print(car1)
car1.update({"color": "White"})
car1.update({"year": "1997"})
print(car1)
x = car1.setdefault("year", "2021")
print(x)
print(car1)
x = car1.values()
print(x)

dictionary
{}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'key1': 0, 'key2': 0, 'key3': 0}
Mustang
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford'}
{'brand': 'Ford', 'color': 'White', 'year': '1997'}
1997
{'brand': 'Ford', 'color': 'White', 'year': '1997'}
dict_values(['Ford', 'White', '1997'])

In [ ]:
print("set")
my_set = {1, 2, 3}
print(my_set)
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

my_set = {1, 2, 3, 4, 3, 2}
print(my_set)
a = {}
print(type(a))
a = set()
print(type(a))
my_set = {1, 3}
print(my_set)
my_set.add(2)
print(my_set)
my_set.update([2, 3, 4])
print(my_set)
my_set.update([4, 5], {1, 6, 8})
print(my_set)
my_set = {1, 3, 4, 5, 6}
print(my_set)

set
{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}
{1, 2, 3, 4}
<class 'dict'>
<class 'set'>
{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}
{1, 3, 4, 5, 6}

In [ ]:
print("list")
list1 = [1,2,3,4,5,6]
print("list: ",list1)
list1.insert(3, 9)
print("list: ",list1)
print("Index of 9: ",list1.index(9))
print("Size of the object: ",list1.__sizeof__())
list1.append(10)
print("list: ",list1)
list1.remove(9)
print("list: ",list1)
print('Popped element:',list1.pop())
print("Count of 2 in list1: ",list1.count(2))
list1.reverse()
print("list1: ",list1)
list2 = list1.copy()
print("list2: ",list2)
list2.clear()
print("list2: ",list2)

list
list:  [1, 2, 3, 4, 5, 6]
list:  [1, 2, 3, 9, 4, 5, 6]
Index of 9:  3
Size of the object:  120
list:  [1, 2, 3, 9, 4, 5, 6, 10]
list:  [1, 2, 3, 4, 5, 6, 10]
Popped element: 10
Count of 2 in list1:  1
list1:  [6, 5, 4, 3, 2, 1]
list2:  [6, 5, 4, 3, 2, 1]
list2:  []

In [ ]:
# there are two types of type conversions in python namely implicit and explicit type conversions


print('Converting integer to float')

a = 5
print("before converting")
print(a,'is of type:',type(a))
print("after converting")
a = float(a)
print(a,'is of type:',type(a))

Converting integer to float
before converting
5 is of type: <class 'int'>
after converting
5.0 is of type: <class 'float'>

In [ ]:
print("convert float to integer")
print("before converting")

num1 = 5.9
num2 = 5.99999999999999999999
print(num1,'is of type',type(num1))
print(num2,'is of type',type(num2))
print("after converting")
num1 = int(num1)
print(num1,'is of type',type(num1))

print(type(num1))
num2 = int(num2)
print(num2,'is of type',type(num2))

convert float to integer
before converting
5.9 is of type <class 'float'>
6.0 is of type <class 'float'>
after converting
5 is of type <class 'int'>
<class 'int'>
6 is of type <class 'int'>

In [ ]:
print("convertig string to int")
s = "10010"
print(s)
print(s,'is of type',type(s))
# printing string(BINARY) converting to int base 2
c = int(s,2)
print ("After converting to integer base 2 : ", end="")
print (c)
print(c,'is of type',type(c))

convertig string to int
10010
10010 is of type <class 'str'>
After converting to integer base 2 : 18
18 is of type <class 'int'>
<class 'int'>
<class 'str'>

In [ ]:
print("convert int to string")
num = 10
print(num)
print("befor converting")
print(num,'is of type',type(num))
print("after converting")
converted_num = "% s" % num
print(num,'is of type',type(converted_num))

convert int to string
10
befor converting
10 is of type <class 'int'>
after converting
10 is of type <class 'str'>

In [ ]:
print("converting string to float")
print(s)
print("before converting")
print(s,'is of type',type(s))
e = float(s)
print ("After converting to float : ", end="")
print(e)
print(e,'is of type',type(e))

converting string to float
10010
before converting
10010 is of type <class 'str'>
After converting to float : 10010.0
10010.0 is of type <class 'float'>

In [ ]:
pi = 3.1415
print(pi)
print("before converting")
print(pi,'is of type',type(pi)) 

piInString = str(pi)  
print("after converting")
print(piInString
      ,'is of type',type(piInString))

3.1415
before converting
3.1415 is of type <class 'float'>
after converting
3.1415 is of type <class 'str'>

In [ ]:
print("given integer is 56")
print("converting to hexadecimal")
a = hex(56)
print ("After converting 56 to hexadecimal string : ",end="")
print (a)
print(type(a))

print("converting octal")
b = oct(56)
print ("After converting 56 to octal string : ",end="")
print (b)
print(type(b))

given integer is 56
converting to hexadecimal
After converting 56 to hexadecimal string : 0x38
<class 'str'>
converting octal
After converting 56 to octal string : 0o70
<class 'str'>

In [ ]:



# initializing string
s = 'geeks'
print(s,'is of type',type(s))

print("string converting to tuple")
c = tuple(s)
print ("After converting string to tuple : ",end="")
print (c)
print(c,'is of type',type(c))

print("string converting to set")
d = set(s)
print ("After converting string to set : ",end="")
print (d)
print(d,'is of type',type(d))

print("string converting to list")
e = list(s)
print ("After converting string to list : ",end="")
print (e)
print(e,'is of type',type(e))

geeks is of type <class 'str'>
string converting to tuple
After converting string to tuple : ('g', 'e', 'e', 'k', 's')
('g', 'e', 'e', 'k', 's') is of type <class 'tuple'>
string converting to set
After converting string to set : {'e', 'k', 'g', 's'}
{'e', 'k', 'g', 's'} is of type <class 'set'>
string converting to list
After converting string to list : ['g', 'e', 'e', 'k', 's']
['g', 'e', 'e', 'k', 's'] is of type <class 'list'>

In [ ]:
print("converting tuples to strings")
tup1 = ('h','e','l','l','o')
print(tup1)
print(tup1,'is of type',type(tup1))
print("after converting")
str = ''.join(tup1)
print (str)
print(str,'is of type',type(str))
print("converting set to string")
set1 = {"h","e","l","l","o"}
print(set1)
print(set1,'is of type',type(set1))
print("after converting")
str1 = " ".join(set1)

print(str1)
print(str1,'is of type',type(str1))

converting tuples to strings
('h', 'e', 'l', 'l', 'o')
('h', 'e', 'l', 'l', 'o') is of type <class 'tuple'>
after converting
hello
hello is of type <class 'str'>
converting set to string
{'e', 'l', 'o', 'h'}
{'e', 'l', 'o', 'h'} is of type <class 'set'>
after converting
e l o h
e l o h is of type <class 'str'>

In [ ]:
print("convert list to set")
a_list = [1, 2, 3, 3]
print(a_list)
print(a_list,'is of type',type(a_list))
converted_set = set(a_list)
print("after converting list to set")
print(converted_set)
print(converted_set,'is of type',type(converted_set))

convert list to set
[1, 2, 3, 3]
[1, 2, 3, 3] is of type <class 'list'>
after converting list to set
{1, 2, 3}
{1, 2, 3} is of type <class 'set'>